{ %extends 'budget/base.html % }
{% load static %}

{% block content %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="categoryInput">Expense Categories</label>
            <input type="text"name="categoryInput" id="categoryInput">
            <input type="hidden"name="categoryString">

            <ul id="categoriesContainer">
                <li class="category">
                    <span class="name">Development</span>
                    <span onclick="removeCategory(this)"class="btnremove bold">X</span>
                </li>

                <li class="category">
                    <span class="name">Development</span>
                    <span onclick="removeCategory(this)"class="btnremove bold">X</span>
                </li>

                <li class="category">
                    <span class="name">Development</span>
                    <span onclick="removeCategory(this)"class="btnremove bold">X</span>
                </li>
            </ul>

        </form>
    </div>

{% endblock %}